.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--Hero-bg-color);
}
:root {
    --default-font:'Poppins', 'sans-serif';
    --primary-color: #2374EE;
    --Hero-bg-color:#EBF2FF;

}

.Head{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 50px;
    margin-right: 90px;
} 
.Head span{
    font-size: 30px;
    font-weight: 900;
    /*padding-left: 12px;*/
    margin-left: 2px;
}
.nav a{
    text-decoration: none;
    list-style: none;
    margin-left:40px;
    opacity: 0.2;
    font-weight: 700;
}
.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 40px;
}
nav .black{
    color: rgb(0, 0, 0);
    opacity: 0.6;
}
.nav{
    margin-left: px;
    margin-right: 20px;
}
button{
    border:none ;
    border-radius: 35px;
    padding: 1rem 2rem;
}
.cac-blue{
    background-color:var(--primary-color);
    color: aliceblue;
}
/*Hero styles*/
.Hero__top{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5rem;
    background-color: var(--Hero-bg-color);  
}